<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
    <div style="display: flex; justify-content: center; align-items: center;">
        <div style="flex-direction: column; justify-content: center; margin-right: 20px">
            <img src="https://i.ibb.co/KmT0gCW/error-404.png" alt="error-404" width="280">
        </div>
        <div style="flex-direction: column; margin-left: 20px; max-width: 280px">
            <h1>Page not found</h1>
            <p>We can't find the page you're looking.
            You can either return to the previus page, visit our homepage
            or contact our support team.</p>
            <a class="btn btn-outline-primary" href="/">Go to login</a>
        </div>
    </div>
</div>